@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 47.4% 11.2%;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* border: 1px solid red */
}
body {
    background-color: "#f8f8ff";
}

.gradient {
    background: rgb(139, 74, 242);
    background: linear-gradient(180deg, rgba(139, 74, 242, 1) 0%, rgba(98, 89, 248, 1) 100%);
}
.gradient-button::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #4c1d95, #792c94, #e7836e);
    z-index: -1;
    border-radius: 0.375rem;
}

.overlay-circle:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top left, #6366F1 0%, #8B5CF6 100% );
    transform: translate3d(0px, 5px, 0) ;
    filter: blur(12px);
    opacity: 0;
    transition: opacity 0.2s;
  }
.overlay-circle:hover:before {
   opacity: 1;
  }


  .activeCard{
    min-height: 300px;
    
  }

  #gradient{
    background: rgb(139, 74, 242);
    background: linear-gradient(180deg, rgba(139, 74, 242, 1) 0%, rgba(98, 89, 248, 1) 100%);
  }